{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' %}" rel="stylesheet">

    <title>DC Space</title>

    <link rel="stylesheet" type="text/html" href="form1.html">
    <link rel="stylesheet" type="text/html" href="form2.html">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-host-cloud.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>DC <em>Space</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home:home' %}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home:about' %}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home:services' %}">Our Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home:contact' %}">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="functional-buttons">
            <ul>
              <li><a href="{% url 'home:login' %}">Log in</a></li>
              <li><a href="{% url 'home:signup' %}">Sign Up</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- Header Ends here -->

    {% block body %}

    {% endblock body %}

    <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>About Us</h2>
              </div>
              <p>DC Space aim to facilitate your Property Portfolio Management & Investment. Get in touch to ask about your taylor made software.</p>
            </div>
          </div>
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>Some Features</h2>
              </div>
              <ul class="footer-list">
                <li><a href="#">Accountancy</a></li>
                <li><a href="#">Communication</a></li>
                <li><a href="#">Marketing</a></li>
                <li><a href="#">Data Analisation</a></li>
                <li><a href="#">AI / Blockchain technologies</a></li>
              </ul>
            </div>
          </div>
          
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>Navigation Links</h2>
              </div>
              <ul class="footer-list">
                <li><a href="{% url 'home:home' %}">Home</a></li>
                <li><a href="{% url 'home:about' %}">About Us</a></li>
                <li><a href="{% url 'home:services' %}">Service</a></li>
                <li><a href="{% url 'home:contact' %}">Contact Us</a></li>
                <li><a href="{% url 'home:login' %}">Log-in</a></li>
              </ul>
            </div>
          </div>
          
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="footer-item">
              <div class="footer-heading">
                <h2>More Information</h2>
              </div>
              <ul class="footer-list">
                <li>Phone: <a href="#">+972-58-7898832</a></li>
                <li>Email: <a href="#">david.cusumano@hotmail.fr</a></li>
                <li>Support: <a href="#">support@DCSpace.com</a></li>
                <li>Website: <a href="#">www.DCSpace.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="sub-footer">
              <p>Copyright &copy; 2020 DC Space - Developed by David Cusumano</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Ends Here -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Additional Scripts -->
    <script src="{% static 'assets/js/custom.js' %}" ></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>