{% extends 'base.html'%}

    {% block body %}

    <!-- Page Content -->
    <!-- Heading Starts Here -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>About Us</h1>
            <p><a href="index.html">Home</a> / <span>About Us</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Heading Ends Here -->


    <!-- About Us Starts Here -->
    <div class="about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-image">
              <img src="assets/images/our-team.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <div class="section-heading">
                <span>About Us</span>
                <h2>Background of our company</h2>
                <p>DC Space is the next ambitious prop-tech software that will enable you to grow your property portfolio. The company development started in Israel at Tel Aviv after a subsequent real estate market crash and the difficulty for individuals to keep up with their business goal, structure and organisation.</p>
              </div>
              <div id='tabs'>
                  <ul>
                    <li><a href='#tabs-1'>History</a></li>
                    <li><a href='#tabs-2'>Technology</a></li>
                    <li><a href='#tabs-3'>Partners</a></li>
                  </ul>
                  <section class='tabs-content'>
                    <article id='tabs-1'>
                      <p>From the office to the beach.
                      <br><br>Let's make things happen!</p>
                    </article>
                    <article id='tabs-2'>
                      <p>Automation robots, AI assistance, Blockchain transactions technologies, built-in CRM.
                      <br><br>The futur of Real Estate is happening now and thanks to the substential technological changes that happen this past 10years.</p>
                    </article>
                    <article id='tabs-3'>
                      <p>Developers Institute Israel, DC Lettings International, Space Finders London, MyAppartment.
                      <br><br>We are very grateful and thanksful to the above partners for believing in this project and allow us to make things happen.</p>
                    </article>
                  </section>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Us Ends Here -->

    <!-- Team Starts Here -->
    <div class="team-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="section-heading">
              <span>Our Team</span>
              <h2>Meet the greatest people</h2>
              <p>See below our fast-growing and dynamic team.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="team-item">
              <img src="assets/images/team-02.jpg" alt="">
              <div class="down-content">
                <h4>David Cusumano</h4>
                <span>Co-Founder</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="team-item">
              <img src="assets/images/team-03.jpg" alt="">
              <div class="down-content">
                <h4>Avi Buchman</h4>
                <span>Head Project Manager</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="team-item">
              <img src="assets/images/team-03.jpg" alt="">
              <div class="down-content">
                <h4>Adrien Mauriac</h4>
                <span>Co-Founder</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Team Ends Here -->

        <!-- Testimonials Starts Here -->
    <div class="testimonials-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <span>Testimonials</span>
              <h2>What they say about us</h2>
            </div>
          </div>
          <div class="col-md-10 offset-md-1">
            <div class="owl-testimonials owl-carousel">
              <div class="testimonial-item">
                <div class="icon">
                  <i class="fa fa-quote-right"></i>
                </div>
                <p>"At MyApartment Tel Aviv we have been working closely with the DC Space team to create our taylor made software to manage our fast growing portfolio! We cannot wait for this project to see the light."</p>
                <h4>William Smith</h4>
                <span>New Co-Founder</span>
              </div>
              <div class="testimonial-item">
                <div class="icon">
                  <i class="fa fa-quote-right"></i>
                </div>
                <p>"As a Senior Consultant Marketer, I can tell how communication and marketing has become more and more diverse because of multiple platform available. DC Space aim to centralise them all and it is going to save us valuable time."</p>
                <h4>Vinny Smart</h4>
                <span>Digital Marketer</span>
              </div>
              <div class="testimonial-item">
                <div class="icon">
                  <i class="fa fa-quote-right"></i>
                </div>
                <p>"Appart from the property industry, every industry has been digitalised in the past years. A big turn will happen soon in the real estate market and DC Space is trying to make it happen."</p>
                <h4>Trevor Liam</h4>
                <span>Technology Chef</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonials Ends Here -->

{% endblock body %}