{% extends 'base.html'%}

    {% block body %}
    <!-- Page Content -->

    <!-- Banner Starts Here -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="header-text caption">
              <h2>Tired With Your Property Portfolio Organisation?</h2>
              <div id="search-section">
              	<form id="suggestion_form" name="gs" method="get" action="#">
                <div class="searchText">
                  <p style="color: white">DC Space is the right software for you. We aim to centralise and automatise all the aspects around your property portfolio management and investment.</p>
                </div>
                 </form>
               <div class="advSearch_chkbox">
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->


    <!-- Services Starts Here -->
    <div class="services-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <span>Hosting Services</span>
              <h2>Services we provide</h2>
              <p>DC Space is the new Prop-tech software game-changer for investors, property managers, agents and more. With us you will increase your efficiency in the same time as developing your Property Portfolio.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-database"></i>
              <h4>Centralise</h4>
              <p>Within one app we centralise all the aspects of your real estate portfolio. In fact, from finance to tenant communication, you will be able to get all your documents, finance statements, mortgage status, marketing templates and more... </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-database"></i>
              <h4>Automate</h4>
              <p>We all know how communication and marketing can be quiet redundant tasks. This why with DC Space you will be able to generate email, messages and advertising templates in one place and all with AI assistance.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-database"></i>
              <h4>Analyse</h4>
              <p>In such a fast developing world, the data analization is what will allow you to get real time insights. This is the reasons why we decided to develop robots analysing and give you the best information to adjust and develop your investments strategy. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Services Ends Here -->





    <!-- Features Starts Here -->
    <div class="features-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <span>Best Quality for you</span>
              <h2>Some of DC Space Features</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-01.png" alt="">
              </div>
              <h4>Cloud Storage</h4>
              <p>All your confidential documents, pictures, tenants contracts, invoices, statements and more in one place and highly secured.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-01.png" alt="">
              </div>
              <h4>Easy Finance</h4>
              <p>With DC Space you don't need to be a accountant to take care of your own finance. Directly insert your finance data such as payments in interactive statements templates.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-01.png" alt="">
              </div>
              <h4>AI Optimisation</h4>
              <p>An Ai friend will constantly analyse every aspects of you business in sending you notification, giving you insights and potential risks assessments.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-01.png" alt="">
              </div>
              <h4>24/7 Assistance</h4>
              <p>Our team is available for you any time of the day and any day of the year by phone, mail or post. Encountering a particular difficulty? Get in touch with us, we will sort your issue within a record time.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-01.png" alt="">
              </div>
              <h4>Blockchain Technology</h4>
              <p>The blockchain has secured what the financial system wouldn't have been able to. All your payments, contracts and information transmitted in a time record within a secure environment.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-01.png" alt="">
              </div>
              <h4>Network Solutions</h4>
              <p>The digital era has never seen that much communication channel since our last global pandemic. Within the mobile app, tenants, agents, investors or anyone is welcome to take part in discussion places and network for the best. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Features Ends Here -->

        <!-- Testimonials Starts Here -->
    <div class="testimonials-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <span>Testimonials</span>
              <h2>What they say about us</h2>
            </div>
          </div>
          <div class="col-md-10 offset-md-1">
            <div class="owl-testimonials owl-carousel">
              <div class="testimonial-item">
                <div class="icon">
                  <i class="fa fa-quote-right"></i>
                </div>
                <p>"At MyApartment Tel Aviv we have been working closely with the DC Space team to create our taylor made software to manage our fast growing portfolio! We cannot wait for this project to see the light."</p>
                <h4>William Smith</h4>
                <span>New Co-Founder</span>
              </div>
              <div class="testimonial-item">
                <div class="icon">
                  <i class="fa fa-quote-right"></i>
                </div>
                <p>"As a Senior Consultant Marketer, I can tell how communication and marketing has become more and more diverse because of multiple platform available. DC Space aim to centralise them all and it is going to save us valuable time."</p>
                <h4>Vinny Smart</h4>
                <span>Digital Marketer</span>
              </div>
              <div class="testimonial-item">
                <div class="icon">
                  <i class="fa fa-quote-right"></i>
                </div>
                <p>"Appart from the property industry, every industry has been digitalised in the past years. A big turn will happen soon in the real estate market and DC Space is trying to make it happen."</p>
                <h4>Trevor Liam</h4>
                <span>Technology Chef</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonials Ends Here -->
    {% endblock body %}
