{% extends 'base.html'%}

    {% block body %}

    <!-- Page Content -->
    <!-- Heading Starts Here -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Our Services</h1>
            <p><a href="index.html">Home</a> / <span>Our Services</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Heading Ends Here -->


    <!-- Services Starts Here -->
    <div class="services-section services-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <span>Hosting Services</span>
              <h2>Best Services We Provide</h2>
              <p>DC Space encompasses the whole aspects of your property business and create a taylor made software based on your requirements and the features available.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-cloud"></i>
              <h4>Cloud Storage</h4>
              <p>All your confidential documents, pictures, tenants contracts, invoices, statements and more in one place and highly secured.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-server"></i>
              <h4>AI Assistance</h4>
              <p>An Ai friend will constantly analyse every aspects of you business in sending you notification, giving you insights and potential risks assessments.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-database"></i>
              <h4>Blockchain Technology</h4>
              <p>The blockchain has secured what the financial system wouldn't have been able to. All your payments, contracts and information transmitted in a time record within a secure environment.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-save"></i>
              <h4>CRM Tasks Management</h4>
              <p>Assign tasks and notify relevant information to your collaborators.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-check"></i>
              <h4>Networking Application</h4>
              <p>The digital era has never seen that much communication channel since our last global pandemic. Within the mobile app, tenants, agents, investors or anyone is welcome to take part in discussion places and network for the best. </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
              <i class="fa fa-support"></i>
              <h4>24/7 Assistance</h4>
              <p>Our team is available for you any time of the day and any day of the year by phone, mail or post. Encountering a particular difficulty? Get in touch with us, we will sort your issue within a record time. Get someone relevant to the field needed for your issue. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Services Ends Here -->

            <!-- Features Starts Here -->
    <div class="features-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <span>Best Quality for you</span>
              <h2>DC Space Features</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-01.png" alt="">
              </div>
              <h4>Load Balanced</h4>
              <p>Nulla nisl ex, vehicula in urna nec, commodo consectetur augue. Vivamus nec metus mauris. Praesent lacinia tempus urna.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-01.png" alt="">
              </div>
              <h4>99.9% Uptime Guaranteed</h4>
              <p>Lorem ipsum dolor ame taxidermy sriracha cardigan salvia actually vice migas en pin sustainable carry scenester.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-01.png" alt="">
              </div>
              <h4>Top Reliability</h4>
              <p>Lorem ipsum dolor ame taxidermy sriracha cardigan salvia actually vice migas en pin sustainable carry scenester.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-01.png" alt="">
              </div>
              <h4>High Security</h4>
              <p>Lorem ipsum dolor ame taxidermy sriracha cardigan salvia actually vice migas en pin sustainable carry scenester.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-01.png" alt="">
              </div>
              <h4>Quality Hardwares</h4>
              <p>Lorem ipsum dolor ame taxidermy sriracha cardigan salvia actually vice migas en pin sustainable carry scenester.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-item">
              <div class="icon">
                <img src="assets/images/feature-01.png" alt="">
              </div>
              <h4>Network Solutions</h4>
              <p>Lorem ipsum dolor ame taxidermy sriracha cardigan salvia actually vice migas en pin sustainable carry scenester.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Features Ends Here -->

    <!-- Pricing Starts Here -->
    <div class="pricing-section">
      <div class="background-image-pricing">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="section-heading">
              <h2>Cloud Hosting Plans</h2>
              <p>Lorem ipsum dolor amet taxidermy sriracha cardigan salvia actually vice migas enamel pin sustainable carry scenester lomo hot chicken farm table actually kinfolk.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-item">
              <h4>Basic Cloud 5x</h4>
              <div class="price">
                <h6>$15.50</h6>
                <span>monthly</span>
              </div>
              <p>Etiam sit amet placerat lacus, sed placerat mauris. Vestibulum malesuada vehicula sapien non tempus.</p>
              <div class="dev"></div>
              <ul>
                <li><i class="fa fa-check"></i>500 GB Storage Space</li>
                <li><i class="fa fa-check"></i>3 TB Data Transfer</li>
                <li><i class="fa fa-check"></i>Basic Managed Panel</li>
                <li><i class="fa fa-check"></i>24/7 Fast Support</li>
                <li><i class="fa fa-check"></i>100 Premium Themes</li>
                <li><i class="fa fa-check"></i>Cancel or Upgrade Anytime</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-item">
              <h4>Cloud VPS 10x</h4>
              <div class="price price-gradient">
                <h6>$30.00</h6>
                <span>monthly</span>
              </div>
              <p>Etiam sit amet placerat lacus, sed placerat mauris. Vestibulum malesuada vehicula sapien non tempus.</p>
              <div class="dev"></div>
              <ul>
                <li><i class="fa fa-check"></i>1 TB Cloud Space</li>
                <li><i class="fa fa-check"></i>8 TB Data Transfer</li>
                <li><i class="fa fa-check"></i>Fully Managed Panel</li>
                <li><i class="fa fa-check"></i>15-minute Quick Support</li>
                <li><i class="fa fa-check"></i>Unlimted Web Addons</li>
                <li><i class="fa fa-check"></i>Cancel or Upgrade Anytime</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-item">
              <h4>Advanced Cloud</h4>
              <div class="price">
                <h6>$72.25</h6>
                <span>monthly</span>
              </div>
              <p>Etiam sit amet placerat lacus, sed placerat mauris. Vestibulum malesuada vehicula sapien non tempus.</p>
              <div class="dev"></div>
              <ul>
                <li><i class="fa fa-check"></i>4 TB Cloud Space</li>
                <li><i class="fa fa-check"></i>20 TB Data Transfer</li>
                <li><i class="fa fa-check"></i>Fully Managed Panel</li>
                <li><i class="fa fa-check"></i>15-minute Quick Support</li>
                <li><i class="fa fa-check"></i>Top Notch Web Apps</li>
                <li><i class="fa fa-check"></i>Advanced Scalable</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Pricing Ends Here -->

{% endblock body %}